/* Container grid for 3 cards per row */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(200px, 2fr)); */
  gap: 1.5rem;
  padding: 2rem;
}

/* Individual card styling */
.product-card {
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: green;
}

.product-card .price {
  color: #0070f3;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.description {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  text-align: justify;
}

/* Pagination */
.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.select-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.select-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
.select-button:disabled {
  background-color: #ccc; /* Grey background when disabled */
  cursor: not-allowed; /* Not allowed cursor */
}
